@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Piedra&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: pink;
  background-image: url(/assets/background\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#container {
  border: 1px solid rgb(255, 255, 255);
  width: 1400px;
  height: 900px;
  flex-direction: column;
  padding: 30px;
  background-color: rgb(51, 51, 51);
}

/* Resetando estilos padrões */

/* Container principal */

#box1,
#box2 {
  border: 1px solid rgb(248, 247, 247);
  width: 400px;
  height: 400px;
  box-shadow: 5px 15px 35px white;
  animation: box1 infinite;
  animation-duration: 8s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#box2 {
  margin-left: auto;
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out, opacity 1s ease-in-out;
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

h1 {
  color: rgba(0, 0, 0, 0);
  background-image: url("/assets/brigadeiro.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  text-transform: uppercase;
  font-size: 5vh;
  text-align: center;
}

p {
  color: rgba(255, 255, 0, 0.116);
  text-align: justify;
  background-image: url("/assets/brigadeiro2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 0 20px;
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
}

a {
  text-decoration: none;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 3vh;
  margin-left: auto;
  margin-top: auto;
  padding-right: 10px;
  padding-bottom: 10px;
  color: rgba(102, 51, 153, 0);
  background: -moz-radial-gradient(
    center,
    #ce0303 0%,
    #18a408 50%,
    #2709c5 100%
  );
  background: -webkit-radial-gradient(
    center,
    #ce0303 0%,
    #18a408 50%,
    #2709c5 100%
  );
  background: radial-gradient(
    ellipse at center,
    #ce0303 0%,
    #18a408 50%,
    #2709c5 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
}

a:hover {
  font-size: 3.5vh;
}

@keyframes box1 {
  0% {
    box-shadow: 30px 15px 35px white;
  }

  25% {
    box-shadow: 5px 15px 35px white;
  }

  50% {
    box-shadow: 5px 15px 35px white;
  }

  100% {
    box-shadow: 30px 15px 35px white;
  }
}

/* Encomendas */
.container2 {
  /* background-color: rgb(51, 51, 51); */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 1400px;
  height: 1000px;
  gap: 5px;
  padding: 50px 0;
  /* background-image: url(/assets/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  width: 100%;
}

/* Lista de doces */
.lista {
  width: 300px;
  height: 400px;
  /* background-color: #fff; */
  padding: 20px;
  border-radius: 8px;
  background-image: url(/assets/cardapio.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.lista-doces {
  /* background-color: #fff; */
  padding: 20px;
  border-radius: 8px;
  display: flex;
}

.lista-doces h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Volkhov", serif;
  font-weight: 400;
}

.lista-doces ul {
  list-style: none;
}

.lista-doces li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
}

.lista-doces img {
  width: 100px;
  height: 80px;
  margin-right: 10px;
  border-radius: 50%;
}

.lista-doces span {
  font-size: 1.1rem;
  font-weight: bold;
}

/* Scanner */
.img-scanner {
  width: auto;
  height: 250px;
}
.scanner {
  width: 300px;
  height: 400px;
  padding: 20px;
  /* border: 2px dashed #03fd4e; */
  border-radius: 8px;
  text-align: center;
  transition: background-color 0.3s;
  /* background-color: #f5f8f8; */
  background-image: url(/assets/scan.png);
  background-size: 330px;
  background-position: center;
  background-repeat: no-repeat;
}
.scanner.drag-over {
  background-color: #03fd4e;
  border-color: #004d40;
}

.scanner-drop {
  font-size: 1.5rem;
  color: #790000;
  margin-top: 10px;
}

.scanner:hover {
  background-color: #f70b038c;
  cursor: grab;
}

.scanner h2 {
  text-align: center;
  margin-bottom: 20px;
}

.scanner input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Carrinho de compras */
.carrinho {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  width: 80%;
  height: 50%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: none;
}

.carrinho h2 {
  text-align: center;
  margin-bottom: 20px;
}

#itens-carrinho {
  display: flex;
  flex-direction: column;
   gap: 8px;
}
.item-carrinho {
 display: flex;
 align-items: center;
 justify-content: space-between;
 border-bottom: 1px solid;

}
#total {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: end;
}
#finalizar-compra {
  width: 20%;
  text-align: end;
  margin-left: auto;
  text-align: center;
}
label {
  display: flex;
  align-items: center;
  gap: 5px;
}
#btns {
  display: flex;
  flex-wrap: wrap;
}
#adicionar-carrinho {
  width: auto;
  padding: 10px;
  background-color: #13a506;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
}
#limpar {
  width: auto;
  padding: 10px;
  background-color: yellow;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
}
#cancelar {
  width: auto;
  padding: 10px;
  background-color: #ff6f61;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
}
#adicionar-carrinho:hover {
  background-color: #0b6d02;
}
#limpar:hover {
  background-color: rgb(199, 199, 4);
}
#cancelar:hover {
  background-color: #e65c50;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  border: 8px outset rgb(255, 253, 253);
  background-color: #000000;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
input[type="number"] {
  color: white;
  height: 32px;
  border-radius: 4px;
  border: 1px solid #d8d8d823;
  position: relative;
  text-align: center;
  font-size: 20px;
  width: 80px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.322);
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20version%3D%221.1%22%20viewBox%3D%220%200%2050%2067%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20stroke-width%3D%222%22%3E%3Cline%20x1%3D%221%22%20x2%3D%2250%22%20y1%3D%2233.5%22%20y2%3D%2233.5%22%20stroke%3D%22%23D8D8D8%22%2F%3E%3Cpolyline%20transform%3D%22translate(25%2020)%20rotate(45)%20translate(-25%20-20)%22%20points%3D%2219%2026%2019%2014%2032%2014%22%20stroke%3D%22%23000%22%2F%3E%3Cpolyline%20transform%3D%22translate(25%2045)%20rotate(225)%20translate(-25%20-45)%22%20points%3D%2219%2052%2019%2039%2032%2039%22%20stroke%3D%22%23000%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: center right;
  background-size: contain;
  background-repeat: no-repeat;
  caret-color: transparent;
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  opacity: 1 !important;
  background: transparent !important;
  border-width: 0px;
  margin: 0;
  border-left: 1px solid #d8d8d8;
  height: 34px;
  width: 23px;
  cursor: pointer;
}
.modal-content h2 {
  color: white;
  font-family: "Piedra", serif;
  font-weight: 400;
}
#nome-doce,
#preco-total,
label {
  color: white;
  font-size: 1.5rem;
}
#fechar-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

/* imagem scanner */

.scan {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.scan .qrcode {
  position: relative;
  width: 300px;
  height: 260px;
  background: url(QR_code01.png);
  background-size: 400px;
}
.scan .qrcode::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: url(QR_Code02.png);
  background-size: 400px;
  overflow: hidden;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    height: 0;
  }

  50% {
    height: calc(100% - 20px);
  }
}

.scan .qrcode::after {
  content: "";
  position: absolute;
  inset: 20px;
  width: calc(100% - 40px);
  height: 4px;
  background: #35fd5c;
  filter: drop-shadow(0 0 20px #35fd5c) drop-shadow(0 0 60px #35fd5c);
  animation: animateline 4s ease-in-out infinite;
}

@keyframes animateline {
  0% {
    top: 20px;
  }

  50% {
    top: calc(100% - 20px);
  }
}

/* caixa */

footer {
  margin-bottom: 160px;
}

.ex2 {
  perspective: 950px;
  margin-top: 300px;
}
#front {
  border: 1px solid;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 200px;
}
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(19, 18, 18);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(15, 15, 15);
  border-radius: 10px;
}
.cube {
  font-size: 4em;
  width: 200px;
  height: 200px;
  margin: 1.5em auto;
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateY(40deg);
}

.side {
  position: absolute;
  width: 200px;
  height: 200px;
  background: rgb(236, 150, 52);
  border: 1px solid rgb(160, 114, 122);
  text-align: center;
  line-height: 0.5em;
}
.front {
  transform: translateZ(100px);
}
.top {
  transform: rotateX(90deg) translateZ(100px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.right {
  transform: rotateY(90deg) translateZ(100px);
}
.left {
  transform: rotateY(-90deg) translateZ(100px);
}
.bottom {
  transform: rotateX(-90deg) translateZ(100px);
}
.back {
  transform: rotateY(-180deg) translateZ(100px);
}

.top {
  transform: rotateX(-90deg) translateZ(100px);
  transform-origin: bottom top;
  animation: openLid 2s ease-out forwards;
}

@keyframes openLid {
  0% {
    transform: rotateX(90deg) translateZ(100px);
  }
  50% {
    transform: rotateX(90deg) translateZ(4em);
  }
  100% {
    transform: skewX(20deg) translateZ(4em);
  }
}

.logos {
  display: flex;
  align-items: end;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
}
.log-img {
  width: 60px;
  height: 60px;
}
span {
  font-size: 20px;
}

#enviar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  border-left: 4px solid;
  cursor: pointer;
  background-color: transparent;
}
#enviar:active {
  border: none;
}

/* carrocel */


.carrossel-container {
  width: 300px;
  margin: auto;
  text-align: center;
}
.carrossel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.carrossel-viewport {
  width: 200px; /* largura visível */
  overflow: hidden;
}
.carrossel-lista {
  display: flex;
  padding: 0;
  margin: 0;
  transition: transform 0.4s ease-in-out;
}
.doce-item {
  list-style: none;
  width: 200px;
  flex-shrink: 0;
  text-align: center;
}
.doce-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.seta {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}